:root {
    --bg-color: #565b60;
    --text-color: #41ca65;
    --container-bg: #839799;
    --title-color: #3e8f98;
    --highlight-color: #58cebc;
}

[data-theme="batman"] {
    --bg-color: #1b1b1b;
    --text-color: #f3c623;
    --container-bg: #333333;
    --title-color: #ffffff;
    --highlight-color: #f3c623;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: var(--container-bg);
}

.container {
    margin: 0 auto;
    padding: 30px;
    max-width: 800px;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.header, form {
    position: relative;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

#title {
    color: var(--title-color);
    font-size: 48px;
    font-weight: 600;
}

#title span {
    color: var(--text-color);
    font-size: 48px;
    font-weight: 500;
}

#description {
    margin: 0 auto;
    max-width: 500px;
    text-align: center; 
    color: var(--highlight-color);
    font-size: 24px;
}

.theme-toggle {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#theme-toggle {
    border: none;
    border-radius: 16%;
    background: #8ff9ff;
    cursor: pointer;
}

#theme-toggle:hover {
    transform: scale(1.15);
    background: #53f6ff;
}

#theme-toggle img{
    align-self: center;
    width: 36px;
    height: 36px;
    box-shadow: 0 0 8px rgba(71, 255, 71, 0.4);
}

form {
    flex-direction: row;
}

#input {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #565b60;
    border-radius: 8px;
    box-sizing: border-box;
}

#input::placeholder, #input {
    text-align: center;
    font-size: 28px;
    color: #565b60;
}

#submit-button {
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 2%;
    border: 0;
    outline: 0;
    padding: 4px 4px;
    background: #97ffbf;
    box-shadow: 0 0 8px rgba(222, 255, 33, 0.5);
}

#submit-button:hover {
    transform: scale(1.1);
    background: #7bffae;
}

#submit-button img {
    width: 32px;
    height: 32px;
}

.result {
    margin: 4px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#result-text {
    color: var(--text-color);
    font-size: 32px;
    font-weight: 500;
}

#result-img {
    width: 420px;
    height: auto;
}